.container{
    width: 75rem;
    margin: 0 auto;
    @include lg{
        width: 90%;
    }
}

.row{
    display: flex;
    flex-wrap: wrap;
}

@for $i from 1 through 20{
    .col-#{$i}{
        width: calc(100%/20)*$i;
        padding: 0rem 0.5rem 0rem 0.5rem;
        @include lg{
            width: 100%;
        }
    }
}