@import "../../../assets/scss/base/cores.scss", "../../../assets/scss/layout/breakpoint.scss";

.background{
    width: 100%;
    height: 100%;
    background-image: url(../../../assets/img/img/login.webp);
    background-size: cover;
    background-position: center;
    filter: brightness(50%);
    position: absolute;
    z-index: 1;
}

.login{
    position: relative;
    z-index: 2;
    .logo{
        width: 10rem;
    }
    .mensagem{
        text-align: center;
        color: $aurora;
        font-size: 1rem;
    }
    .form{
        .formGrupo{
            input{
                width: 100%;
                height: 4rem;
                outline: none;
                border: 0;
                padding: 0rem 0rem 0rem 1rem;
                font-size: 1rem;
                &:nth-child(1){
                    border-radius: 0.5rem 0.5rem 0rem 0rem;
                    border: 0.1rem solid $cinza-1;
                }
                &:nth-child(2){
                    border-radius: 0rem 0rem 0.5rem 0.5rem;
                    border-left: 0.1rem solid $cinza-1;
                    border-right: 0.1rem solid $cinza-1;
                    border-bottom: 0.1rem solid $cinza-1;
                }
            }
            button{
                width: 100%;
                height: 4rem;
                background-color: $azul-2;
                font-size: 1rem;
                color: $aurora;
            }
        }
    }
    .esqueci{
        background: none;
        outline: none;
        border: 0;
        color: $aurora;
        font-size: 1rem;
    }
    .alerta{
        width: 100%;
        display: none;
        background-color: $azul-3;
        padding: 1rem 0.5rem 1rem 0.5rem;
        text-align: center;
        color: $aurora;
    }
    .rodape{
        width: 100%;
        text-align: center;
        font-size: 1rem;
        color: $aurora;
        strong{
            font-weight: bold;
        }
    }
}