//Cursor
.cursor{
    cursor: pointer;
    @include lg{
        cursor: initial;
    }
}

//Displays
.d-flex{
    display: flex;
}

.d-block{
    display: block;
}

//Flex wrap
.wrap{
    flex-wrap: wrap;
}

//Gap
@for $i from 1 through 10{
    .gap-#{$i}{
        grid-gap: calc(10rem/10)*$i;
    }
}

//Justify content
.justify-content-center{
    justify-content: center;
}

//Align itens
.align-itens-center{
    align-items: center;
}

//Vw e Vh
.vw-100{
    width: 100vw;
}

.vh-100{
    height: 100vh;
}

//Margins
@for $i from 1 through 10{
    .mt-#{$i}{
        margin-top: calc(10rem/10)*$i
    }
}

@for $i from 1 through 10{
    .mb-#{$i}{
        margin-bottom: calc(10rem/10)*$i
    }
}

//Border radius
@for $i from 1 through 10{
    .radius-#{$i}{
        border-radius: calc(1rem/10)*$i;
    }
}