//Cores default
$preto: black;

//Cores com nome personalizado pelo designer gráfico neko kirame
$aurora: #FFF6E6;
$creme: #FFE8BF;

//Laranja
$laranja-1: #FF9D1F;

//Verde
$verde-1: #008000;

//Cinza
$cinza-1: #cfcfcf;
$cinza-2: #6a6a6a;
$cinza-3: #1a1a1a;

//Azul
$azul-7: #050505;
$azul-6: #050506;
$azul-5: #00061a;
$azul-4: #0e1139;
$azul-3: #002080;
$azul-2: #0076fe;
$azul-1: #0000ff;

//Vermelho
$vermelho-2: #ff2e2e;
$vermelho-1: #ff0000;

