@font-face {
    font-family: averta;
    src: url(../fonts/AvertaExtraBold.otf);
    font-display: swap;
    font-weight: bold;
}

@font-face {
    font-family: averta;
    src: url(../fonts/AvertaRegular.otf);
    font-display: swap;
    font-weight: bold;
}